.players-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 15px;
    margin-top: 15px;
}
.sports-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: none;
    
}
.cart-container{
    border: 1px solid gray;
    margin: 5px;
    padding: 2px;

   
}
.add-break {
   
    display: flex;
    gap: 2px;
    margin-top: 20px;
}

.btn-activity{
    background-color: blue;
    border-radius: 5px;
    color: white;
    border: none;
}
.btn-activity:hover{
    background-color: aqua;
}

