.player{
    width: 300px;
    height: 510px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    padding-left: 10px;
    margin-right: 5px;
}
.player img {
   margin: 20px;
  margin-left: 15px;
   width: 220px;
   height: 200px;
  padding-left: 30px;
   border-radius: 5px;
   
}

.player button{
    width: 100%;
    background-color: blue;
    color: white;
    
    border-radius:10px ;
    border: none;
   
    bottom: 0;
}
.player button:hover{
    background-color: aqua;
}
